body { 
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.compromiso{
    font-size: 60px;
    text-align: center;
}

.compromiso p{
    font-size: 90px;
    text-align: center;
    

}
.footer{
    background: grey;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
    }
    .contenedor-footer{
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid grey;
    }
    
    .content-foo{
        text-align: center;
    }
    .content-foo h4{
        color: grey;
        border-bottom: 3px solid gray;
        padding-bottom: 5px;
        margin-bottom: 10px;
    
    }
    .titulo-final{
        text-align: center;
        font-size: 24px;
        margin: 20px 0 0 0;
        color: grey;
    }
    